<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.printer.sunmi"
        version="0.7.0">

  <name>Sunmi Printer</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/printer.js" target="js/printer.js"/>

  <js-module src="www/printer.js" name="printer">
    <clobbers target="printer" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Sunmi Printer">
        <param name="android-package" value="com.printer.sunmi"/>
      </feature>
    </config-file>

    <source-file src="src/android/sunmi.java" target-dir="src/com/example/plugin/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Sunmi">
        <param name="ios-package" value="HWPSunmi" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPSunmi.h" target-dir="SunmiPlugin"/>
    <source-file src="src/ios/HWPSunmi.m" target-dir="SunmiPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Sunmi.cs"/>
  </platform>

</plugin>